body {
  min-width: fit-content;
}
* {
  margin: 0;
}
p {
  padding: 10px;
}
h1, h2, h3 {
  padding: 30px 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(template_background.jpg);
  background-size: cover;
  padding: 30vh 0;
  color: #eeffff;
  text-shadow: #000000 0px 0px 10px;
}
header > span {
  position: fixed;
  top: 10px;
  left: 10px;
}
header > p {
  font-weight:  bold;
  max-width: 1000px;
}
header > h1 {
  font: bold 2em arial, sans-serif;
  padding-bottom: 50px;
}

section {
  padding-bottom: 100px;
}
section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
section > div#second {
  background-color: #eee;
}
section > div > * {
    max-width: 800px;
}

.expert {
  display: flex;
  width: 100%;
  min-height: 40vh;
  padding: 60px 0;
}
.expert > div.profileimage {
  width: 180px;
}
.expert > div.profileimage > img {
  width: 150px;
  height: 150px;
  padding: 10px;
}
div.skills {
  /* 3 images side by side */
  min-width: calc(100px * 3 + 5px * 3);
}
div.skills > span {
  height: 150px;
}
div.skills > a {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}
div.skills > a::after {
  pointer-events: none;
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
div.skills > a > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: black;
}

a.blender::after {
  width: 20px;
  height: 25px;
  background-image: url(experts/blender.png);
}
a.gimp::after {
  width: 40px;
  height: 18px;
  background-image: url(experts/gimp.png);
}
a.tinkercad::after {
  width: 40px;
  height: 18px;
  background-image: url(experts/tinkercad.png);
}
